.section-element-profile {
    background-color: white;
    height: 100vh;
    margin-top: 40px;
    padding: 50px;
}

.monTitre {
    padding-left: 30px;
    color: gray;
    font-size: 45px;
}

.tbord {
    display: flex;
    justify-content: space-between;
}

.tbord i {
    font-size: 32px;
    cursor: pointer;
    color: #79B51C;
}

.tbord-span {
    color: #79B51C;
    cursor: pointer;
}

.parametreButtons {
    display: flex;
    gap: 100px;
}

#edit-password,
#edit-user-profile,
#send-button {
    background-color: #1898A8;
    border: 0;
    color: white;
    font-size: 25px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#send-button {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

#edit-password:hover,
#edit-user-profile:hover,
#send-button:hover,
.send-button-password:hover {
    background-color: white;
    border: 2px solid #1898A8;
    color: #1898A8;
}

#edit-user-profile {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#delete-profile,
#delete-user-profile {
    background-color: red;
    border: 0;
    color: white;
    font-size: 25px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#delete-profile:hover,
#delete-user-profile:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
}


.section-info-user {
    display: flex;
    justify-content: space-between;
}

.profile-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.section-info-user h1, h2 {
    color: gray;
}

.section-info-user input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
    border: none;
    padding: 10px;
}

.section-info-user textarea {
    margin-top: 20px;
 
}



.user-avatar img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

#profile-navbar,
.icon-cloche {
    border-radius: 100%;
    height: 60px;
    width: 60px;
} 

.card {
    border: 1px solid black;
    height: 100px;
    width: 400px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 10px;
}

.card-header {
    background-color: #1898A8;
    text-align: center;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-header {
    margin: 0;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid black;
    height: 100%;
    border: 1px solid black;
    font-size: 25px;
    color: #79B51C;
}


.hidden {
    display: none;
}

.card-password {
    position: fixed;
    left: 50%;
    right: 50%;
    top: 20%;
    border: 2px solid #1898A8;
    width: 500px;
    border-radius: 10px;
}

.header-card {
    background-color: #1898A8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-card {
    display: flex;
    justify-content: space-evenly;
}

.header-card h1 {
    margin: 0;
}

.header-card i {
    font-size: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-card i:hover {
    color: red;
}

.card-span {
    color: gray;
    font-size: 27px;
    padding: 10px;
}

.body-card input {
    width: 100%;
    height: 50px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    border: none;
}

.body-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}

.send-button-password {
    background-color: #1898A8;
    color: white;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}